<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-6 mt-5">
    <%= render 'shared/errors', resource: @badge %>
    <h2><%= t("pages.badges.edit.header") %></h2>
      <%= render "form", badge: @badge %>
  </div>
</div>
