<div class="row">  
  <div class="col mt-5">
    <h1 class="float-left"><%= t("admin.pages.badges.header") %></h1>
    <%= link_to t("buttons.new_badge"), new_admin_badge_path, class: "btn btn-primary float-right" %>
  </div>
</div>
<div class="row justify-content-center">
  <%= render @badges %>
</div>
