<div class="container-center">
  <%if @test_passage.count_percent >= 85%>
    <h2 style="color: green;"><%="Тест пройден"%></h2>
  <%else%>
    <h2 style="color: red;"><%="Test provalen"%></h2>
  <%end%>
  <br><br>
  <%= link_to 'Back', tests_path %>
</div>