<footer>
  <p> 
    Study project at <a href="https://thinknetica.com" target="_blank">Thinknetica</a> online school.
    <br><br>
    Copyright <%= footer_year %>  by Dolgopolov Andrey. <%= github_link('Test-Guru', 'https://github.com/Kisamict/test-guru') %>
  </p>
</footer>