<div class="row">
  <div class="col text-center">
    <footer class="pt-4 my-5 pt-md-5 border-top">
      Study project at <a href="https://thinknetica.com" target="_blank">Thinknetica</a> online school.
      <br>
      Copyright <%= footer_year %> by Dolgopolov Andrey. <%= github_link('Test-Guru', 'https://github.com/Kisamict/test-guru') %>
    </footer>
  </div>
</div>
