@import "bootstrap";
@import "typography/icons";
@import 'font_awesome5';
@import "global";
 
body {
  margin: 0;
}

.container-center {
  margin: 10%; 
  text-align: center;
}

.table-center {
  margin: 0 auto; 
  width: 35%
}

.test-passed {
  color: green;
}

.test-not-passed {
  color: red;
}

.progress-bar {
  display: inline-block; 
  height: 5px;
  background-color: rgb(62, 202, 43);
}
