@import "bootstrap";
@import "typography/icons";
@import 'font_awesome5';
@import "global";
 
body {
  margin: 0;
}

.test-passed {
  color: green;
}

.test-not-passed {
  color: red;
}

.progress-bar {
  display: inline-block; 
  height: 5px;
  background-color: rgb(62, 202, 43);
}

.not-achieved {
  opacity: 0.4;
  filter: grayscale(75%);
}
