.flash {
  padding: 10px;
<<<<<<< HEAD
  border: 2px solid;
  border-radius: 5px;
}

.flash.notice {
  border-color: blue;
}

.flash.alert {
  border-color: red;
}
=======
}

.flash.alert {
  color: red;
}
>>>>>>> Lesson 10 homework
