<div class="mt-5">
  <h2><%= t('pages.tests.show.title', test: @test.title) %></h2>
  <table class='table table-bordered table-hover text-center'>
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @test.questions %>
    </tbody>
  </table>
  <%= link_to t('buttons.back'), admin_tests_path, class: "btn btn-primary" %>
  <%= link_to t('buttons.create_question'), new_admin_test_question_path(@test), class: "btn btn-primary" %>
</div>
