<div class='container-center'>
  <h1>All tests:</h1>
  <table class='table-center'>
    <tr>
      <th>Title</th>
      <th>Id</th>
      <th>Level</th>
      <th>Questions count</th>
      <th>Actions</th>
    </tr>
    <%= render @tests %>  
  </table>
</div>
